.HeritageSites-container {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .HeritageSites-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .HeritageSites-option {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  
  .HeritageSites-option.active {
    background-color: red;
    color: white;
  }
  
  .HeritageSites-details {
    display: flex;
    justify-content: center;
  }
  
  .HeritageSites-card {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .HeritageSites-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .HeritageSites-table th,
  .HeritageSites-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .HeritageSites-table th {
    background-color: #333;
    color: white;
  }
  
  .HeritageSites-table td {
    background-color: #ddd;
    color: #333;
    text-align: left;
  }
  